@use 'styles/variables' as vars;
@use 'styles/typography';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: vars.$lusion-bg;
  color: vars.$lusion-black;
  overflow-x: hidden;
}
